.containerbody{
    overflow: scroll;
    position: relative;
}
.classlogo{
    border-radius: 4%;
}
/* ---------------------------------------------- Barra Lateral ----------------------------------------------- */
#MenuLateralSignal h5{
    font-size: 24px;
    margin: 0;
}
#MenuLateralSignal h6{
    font-size: 18px;
    margin: 0;
}
.MenuBarraLateralBienvenida{
    font-size: 16px;
}
.MenuBarraLateral{
    font-size: 13px;
}
.ValoresSignosMedicion{
    font-size: 14px;
    text-align: justify;
}
.LeyendaSignosMedicion{
    background: #ffe5db2f;
  
}
.IconosBarraLateral{
    align-items: center;
}
.dbicon{
    position: relative;
    width: 25px;
    height: 25px;
    border-radius: 25px;
    font-size: 20px;
    text-align:center;
    cursor: pointer;
    color: #DC3445;
}
.AtrasBtn{
    position: fixed;
    border-radius: 25px !important;
    margin: -4px 30px;
    text-align:center;
    cursor: pointer;
    z-index: 3;
}
.rectangulo2{
    position: absolute;
    margin: -6px -2px 10px; 
    width: 28px;
    height: 28px;
    border-radius: 28px;
    background:rgb(255, 255, 255);
    display: block !important;
}

/* -------------------------------------------- Menu Dashboard head ------------------------- */
#Historial:hover, #IngNewUser:hover, #Med-Users:hover, #mediciones:hover, #Sesion:hover{
    background-color: rgb(243, 243, 243);
    color: #DC3445 !important;
    font-weight: bolder;
    border-radius: 25px;
}
.BarraCompleta{
    background: #DC3445 !important;
}
#IconosBarraLateral:hover {
    background: #DC3445 !important;
}

#cnbody{
    margin-left: 7%;
}
#sidebar {
width: 0%;
height: 100vh;

}
/* -------------------------------------------- Iconos de Mostrar/Ocultar ------------------------------------------ */
.menu-icon{
    position: absolute;
    right: -38px;
    top: 12;
    width: 30px;
    height: 30px;
    border-radius: 30px;
    font-size: 20px;
    color: white;
    padding: 1px;
    background: #DC3445;
    text-align: center;
    cursor: pointer;  
    z-index: 3;
}
.bx-menu{
    display: none;
    position: relative;
    top: 4;
    width: 27px;
}
.bx-x{
    display: block;
    position: relative;
    top: 4;
    width: 27px;
}
/* ------------------------------------------ Iconos de Mostrar/Ocultar end------------------------------------------ */
/* ----------------------------------------------Menu Dashboard head end ----------------------- */
/* ---------------------------------- Mostrar/Ocultar Barra lateral de menu ------------------------------ */
/* #MiPerfil{
    display: block;
} */
#sidebar.active{
    width: 20%;
    height: 100vh;
    background: #ffffff;
}
#cnbody.active{
    margin-left: 20%;
}


/* --------------------------------------- Mostrar/ Ocultar end ------------------------------------- */
/* ------------------------------------------ Formato de Tabla ------------------------------------------ */
.UserTable{
    background-color: white;
}
thead{
    background-color: #DC3445;
    color: white;
}
tr:nth-child(even){
    background-color: #f7e6e7;
}
tr:hover td{
    background-color: #df3b4c70;
    color: white;
}
/* --------------------------------- Formato de barra navegación horizontal usuario ---------------------- */
#NavMenu ul li a{
    color: black;
    background-color: #ffe4e3;
    border: #DC3445;
}
#NavMenu ul li a:hover{
    color: rgb(255, 255, 255);
    background-color: #DC3445;
}
#NavMenu hr{
    position: relative;
    margin: 0px -2px auto; 
}
/* -------------------------------------- Formato de barra navegación usuario end ------------------------ */
/* --------------------------------------- Cuerpo de contenido ------------------------------------------ */
.x_content{
    text-align:right;
    font-family: 'Roboto', sans-serif;
}
.x_title{
    text-align:center;
    font-family: 'Roboto', sans-serif;
}
.x_panel{
    font-family: 'Roboto', sans-serif;
}
hr.Titulos{
    height: 2px; 
    border: none;
    background: #ff0800;
}
.gender{
    text-align: left;
}
.datesprint{
    text-align: left;
}
/* ------------------------------------------- Iconos de conexion --------------------------------------------- */
#IconConexion, #IconConexionAdmin{
    position: relative;
    margin: 0px 0px auto; 
    font-size: 35px;
    color: #c2c2c2;
}
#IconSensorConexion{
    position: relative;
    margin: 10px 0px auto; 
    font-size: 20px;
    color: #c2c2c2;
}
#IconConexionText, #IconSensorConexionText, #IconConexionAdminText{
    position: relative;
    margin: -27px 40px auto; 
    font-size: 14px;
    font-weight: normal;
}

/* ----------------------------------------- Iconos de conexion end --------------------------------------------- */
/* --------------------------------------- Cuerpo de contenido end ------------------------------------------ */
/* -------------------------------------- Cuerpo del Perfil de Usuario (Mediciones) -------------------------- */
div#GraficosMed{
    position: relative;
    width: auto;
    height: 50vh;
}
#GraficoPulso{
    position: relative;
    max-width: 90vh;
    height:50vh;
}
#GraficoOxi{
    position: relative;
    max-width: 80vw;
    height:50vh;
}
#UserNamePrint{
    text-align:center;
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
}
#ValoresNormalesPrint{
    text-align: justify;
    font-family: 'Roboto', sans-serif;
    background: #c2c2c22d;
}

/* ----------------------------------- Cuerpo del Perfil de Usuario (Mediciones) end-------------------------- */
#IngNewUser, #Usersmed, #MED-IngNewUser, #MED-mediciones, #IGNORARSECCION{
    display: none;
}
#MED-Bienvenida, #MED-MiPerfil, #MED-IngNewUser, #MED-Med-Users, #MED-Historial, #MED-mediciones, #MED-Updateuser, #MED-Perfiluser, #MED-PrintUserI{
    background: #bfc0f7;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, hsl(0, 0%, 100%), hsla(0, 0%, 100%, 0.801)), url(../img/medpicture.jpg);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, hsl(0, 0%, 100%), hsla(0, 0%, 100%, 0.836)), url(../img/medpicture.jpg);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size:cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: rgba(95, 158, 160, 0.404);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height:100vh;
    margin: 0px;
}
#MED-MiPerfil, #MED-IngNewUser, #MED-Med-Users, #MED-Historial, #MED-mediciones, #MED-Updateuser, #MED-Perfiluser, #MED-PrintUserI{
    display: none;
}
/* ---------------------------------------------- FUENTE SENSORES ----------------------------------------------------- */
.datesprintFB{ 
    background: #bfc0f700;    
    background-color: rgba(95, 158, 160, 0);
    font-family: sans-serif; 
    color: #333333; 
    font-family: 'open sans';
    box-sizing: border-box;
}
.sensorsmed{
    font-size: 50px;
    font-weight: bolder;
    margin: -75px 55px;
    position: absolute;
}
.units { 
    margin: 50px 66px; 
    font-size: 1.2rem;
    position: absolute;
}
.unitsP{
    margin: 50px 93px; 
    font-size: 1.2rem;
    position: absolute;    
}
/* ----------------------------------------------- Indicadores Bpm --------------------------------------------------- */
.ValoresMed{
    font-size: 0.8rem;
    font-weight: bolder;
}
.LineasValoresMed{
    font-weight: bolder;
}
#Bpm0, #Sp0{
    position: absolute;
    margin: -17px -14px 10px; 
}
#Bpm45, #Sp45{
    position: absolute;
    margin: -91px 8px 10px; 
}
#Bpm90, #Sp90{
    position: absolute;
    margin: -122px 90px 10px; 
}
#Bpm135, #Sp135{
    position: absolute;
    margin: -93px 170px 10px; 
}
#Bpm180, #Sp180{
    position: absolute;
    margin: -17px 206px 10px; 
}
/* ------------------------------------------------ */
#BpmL0, #SpL0{
    position: absolute;
    margin: -18px -5px 10px; 
}
#BpmL45, #SpL45{
    position: absolute;
    margin: -88px 29px 10px; 
    transform: rotate(45deg);
}
#BpmL90, #SpL90{
    position: absolute;
    margin: -113px 100px 10px; 
    transform: rotate(90deg);
}
#BpmL135, #SpL135{
    position: absolute;
    margin: -81px 171px 10px; 
    transform: rotate(135deg);
}
#BpmL180, #SpL180{
    position: absolute;
    margin: -18px 200px 10px; 
}
/* -------------------------------------------- gráficos de Medidores ---------------------------------------------- */
.barratemp{    
    height: 200px;
    width: 200px;
    background-color: yellow;
    margin: auto;
    border-radius: 50%;
    overflow: hidden;
}
.cont{
    height: 100px;
    width: 200px;
}
.circulo_centro{
    width: 150px;
    height: 150px;
    background: #bfc0f7;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, hsl(0, 0%, 100%), hsla(0, 0%, 100%, 0.801)), url(../img/medpicture.jpg);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, hsl(0, 0%, 100%), hsla(0, 0%, 100%, 0.836)), url(../img/medpicture.jpg);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
    background-attachment: fixed;
    background-color: rgba(95, 158, 160, 0.404);
    border-radius: 50%;
    margin: auto;
    position: relative;
    margin: -175 auto 50px;
}
.rectangulo{
    width: 200px;
    height: 100px;
    background: #bfc0f7;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, hsl(0, 0%, 100%), hsla(0, 0%, 100%, 0.801)), url(../img/medpicture.jpg);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, hsl(0, 0%, 100%), hsla(0, 0%, 100%, 0.836)), url(../img/medpicture.jpg);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
    background-attachment: fixed;
    background-color: rgba(95, 158, 160, 0.404);
    position: relative;
    margin: -125px auto 50px;
}
.s_icon{
    font-size: 50px;
    position: absolute;
    margin: 10px 80px;
}
        
#Incbarrabpm, #Incbarraspo2{
    transition: all 0.2s ease;
}
.textspo2bpm{
    margin: 10px 80px;
    font-family: 'open sans' ;
    text-align: center;
    font-weight: bolder;
    font-size: 20px;
}
/* -------------------------------------------- Pixeles de pantalla ----------------------------------------------- */
@media screen and (max-width:1024px){
    /* ---------------------------------- Mostrar/Ocultar Barra lateral de menu ------------------------------ */
    /* #MiPerfil{
        display: block;
    } */
    #sidebar.active{
        width: 25%;
        height: 100vh;
        background: #ffffff;
    }
    #cnbody.active{
        margin-left: 25%;
    }
    /* --------------------------------------- Mostrar/ Ocultar end ------------------------------------- */
    #MenuLateralSignal h5{
        font-size: 22px;
        margin: 0;
    }
    #MenuLateralSignal h6{
        font-size: 16px;
        margin: 0;
    }
    .IconosBarraLateral{
        align-items: center;
    }
}

@media screen and (max-width:900px){
    #MenuLateralSignal h5{
        font-size: 18px;
        margin: 0;
    }
    #MenuLateralSignal h6{
        font-size: 16px;
        margin: 0;
    }
    .MenuBarraLateralBienvenida{
        font-size: 14px;
    }
    .textspo2bpm, .TextGraficas{
        font-size: 15px;
    }
    .x_panel{
        font-size: 15px;
    }
    .UserTable{
        font-size: 15px;
    }
    #CuerpodePerfildeUsuario h5{
        font-size: 16px;
    }
}

@media screen and (max-width:500px){
    /* ---------------------------------- Mostrar/Ocultar Barra lateral de menu ------------------------------ */
    /* #MiPerfil{
        display: block;
    } */
    #sidebar.active{
        width: 40%;
        height: 100vh;
    }
    #cnbody.active{
        margin-left: 40%;
    }
    /* --------------------------------------- Mostrar/ Ocultar end ------------------------------------- */
    #MenuLateralSignal h5{
        font-size: 15px;
        margin: 0;
    }
    #MenuLateralSignal h6{
        font-size: 13px;
        margin: 0;
    }
    .MenuBarraLateralBienvenida{
        font-size: 12px;
    }
    .MenuBarraLateral{
        font-size: 12px;
    }
    .IconosBarraLateral{
        align-items: center;
    }
    .x_content{
        text-align:left;
        font-family: 'Roboto', sans-serif;
    }
    .textspo2bpm, .TextGraficas{
        font-size: 15px;
    }
    .x_panel{
        font-size: 12px;
    }
    .UserTable{
        font-size: 12px;
    }
    #CuerpodePerfildeUsuario h5{
        font-size: 12px;
    }
    #VerPerfil{
        font-size: 12px;
    }
    #UserTableDates{
        width: 25vh;
    }
    #SignosUsuario{
        width: 25vh;
    }
    #BtnDatosUsuario, #BtnHistorial, #BtnMedicionSignos,#BtnGraficoOxi, #BtnGraficoPulso{
        font-size: 10px;
    }
    
}